body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    margin: 0px;
}

nav {
    background-color: #F55A5A;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* column-gap: 10px; */
    
}

.nav--header {
    font-size: 14.4608px;
    line-height: 18px;
    letter-spacing: -0.045em;
    color: #FFFFFF;
}

.nav--svg {
    padding: 7px;
}

.blog--container {
    /* background-color: blue; */
    margin-top: 40px;
}

.blog--card {
    display: flex;
    padding: 20px;
    align-items: center;
    width: 470px;
    margin: auto;
    border-bottom: 1.5px solid #F5F5F5;
}

.card--left > img {
    width: 125px;
    height: 168px;
    border-radius: 10px;
    object-fit: cover;
}

.card--right {
    padding: 15px;
}

.location {
    display: flex;
    align-items: center;
}

.location--country {
    font-size: 10.24px;
    line-height: 12px;
    letter-spacing: 0.17em;
    color: #2B283A;
    padding-left: 5px;
    text-transform: uppercase;
}

.location > a {
    text-decoration-line: underline;
    color: #918E9B;
    font-size: 0.7rem;
    padding-left: 15px;
}

.location--title {
    margin-top: 0px;
    padding-top: 5px;
    font-size: 25px;
    line-height: 30px;
    color: #2B283A;
}

.location--date {
    font-weight: 700;
    font-size: 10.24px;
    line-height: 12px;

    color: #2B283A;
}

.location--desc {
    font-size: 10.24px;
    line-height: 150%;
    color: #2B283A;
}




